.floating-label-input {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding:0px 5px
}

.input-label{
    font-size: 16px;
    font-weight: 400;
    transform: translateX(6px) translateY(7px);
    background-color: white;
    width: fit-content;
}

.input-label-focus{
    font-weight: 500;
    transform: translateX(0) translateY(-1px);
    width: fit-content;
}

.input-field {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 4px;
  transition: border-color 0.2s ease-in-out;
}

.input-invalid {
  border-color: red;
}

.input-valid {
  border-color: blue;
}