.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
    background-color: white;
}

.modal-content{
    max-width: 50%;
    max-height: 60%;
    padding: 2rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    aspect-ratio:5;
}

.modal-header {
  position: relative;
  margin-bottom: 0.5rem;
  height: 30px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}

.modal-close {
  float: right;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #666;
  transition: color 0.2s;
}

.modal-close:hover {
  color: #333;
}

.modal-content h2{
    margin: 0;
    font-size: 1.5rem;
    color: #333;
}